In [2]:
# Dictionary - A dictionary stores data in key : value form so we can access values by name, not position.
# always use {} curly braces
# use in real life like profile data store,setting pg,ecommer price/product,
# When do you use dictionary in Python? // dictionary when data has key–value meaning, like user profiles, login systems, product prices, API responses, or configuration settings.”
data = {"name": "ankita", "age":"22" , "marks":"95"}
print(data["name"])

ankita

In [6]:
# operations
# add new data 
data = {"name": "ankita", "age":"22" , "marks":"95"}
data["hobby"] = "reading"
print(data)

{'name': 'ankita', 'age': '22', 'marks': '95', 'hobby': 'reading'}

In [9]:
# update data
data = {"name": "ankita", "age":"22" , "marks":"95"}
data["marks"] = "89"
print(data)

{'name': 'ankita', 'age': '22', 'marks': '89'}

In [13]:
# delete data
data = {"name": "ankita", "age":"22" , "marks":"95"}
del data["age"] 
print(data)

{'name': 'ankita', 'marks': '95'}

In [15]:
# get() function  
# dict[key] or safer dict.get(key) impppp
data = {"name": "ankita", "age":"22" , "marks":"95"}
print(data.get("age", "Not Found"))
print(data.get("hobby", "Not Found"))

22
Not Found

In [18]:
# loop dictionary
data = {"name": "ankita", "age":"22" , "marks":"95"}
for k in data:  # k means key
    print(k)
for v in data.values():  #v values remember this //Use .values() for sum, max, count,total,bill
    print(v)

name
age
marks
ankita
22
95

In [19]:
# loop key + value //Use .items() for both key & value
data ={'name': 'ankita', 'age': '22', 'marks': '95', 'hobby': 'reading'}
for k , v in data.items():
    print(k,v)

name ankita
age 22
marks 95
hobby reading

In [29]:
# practice question 
# total marks
marks = {"math":88, "java":90, "python":78, "php":45}  #when making bill/total dont use"" on int/ numbers otherwise it will give error
total = 0
for m in marks.values():
   total += m
print(total)

301

In [31]:
# highest marks find out
marks = {"math":88, "java":90, "python":78, "php":45}
highest = 0
for m in marks.values():
    if m > highest:
        highest = m
print(highest)

90

In [33]:
# simple login system
users = {
    "ankita": "1234",
    "admin": "abcd"
}
u = input()
p = input()

if users.get(u) == p:
    print("Login Success")
else:
    print("Wrong Login")

 ankita
 4545

Wrong Login

In [35]:
# Create a phone book dictionary and search a number by name
phone_book = {"Ankita": "9876543210","Rahul": "9123456780","Sneha": "9988776655"}
name = input("Enter name to search: ")
number = phone_book.get(name)
if number:
    print("Phone number:", number)
else:
    print("not found")

Enter name to search:  Sneha

Phone number: 9988776655

In [41]:
# Create employee salary dictionary and find employee with maximum salary
emp = {"ankita":45000,"aditya":75600,"pankaj":35600}
max_salary = 0
max_emp = ""
for name, salary in emp.items():
    if salary > max_salary:
        max_salary = salary
        max_emp = name

print("Emp with highest salary:", max_emp)
print("Salary:", max_salary)

Emp with highest salary: aditya
Salary: 75600

In [45]:
# emp
emp = {"ankita":45000,"aditya":75600,"pankaj":35600}
highest = 0
for e in emp.values(): #values use bcoz it give only salary / numbers
    if e > highest:
        highest = e
print(highest)

75600